<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>
<!-- Expansion panel to add new notes -->
<div class="keep-note-panel">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Take a note</mat-panel-title>
        </mat-expansion-panel-header>
        <div class='keep-note-wrapper'>
            <mat-form-field>
                <input matInput name="title" [(ngModel)]="note.title" placeholder="Title">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput name="text" [(ngModel)]="note.text" placeholder="Text"></textarea>
            </mat-form-field>
            <div class='keep-note-button'>
                <button mat-raised-button (click)="takeNotes()" color="primary">Done</button>
            </div>
        </div>
    </mat-expansion-panel>
</div>
